/*Outer Navigation Container*/
.expense-nav {
  position: sticky;
  top: 0;
  height: var(--header-h);
  background: var(--brand-red);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 50;
}

/* Inner Navigation Container*/
.expense-nav-inner {
  max-width: var(--maxw) !important;
  margin: 0;
  padding: 8px 16px !important;
  display: flex !important;
  grid-template-columns: 1fr auto 1fr !important;
  align-items: center !important;
}


/* LevelUp Logo -> img does not accepty sx, css only*/
.levelUp-logo {
  height: 35px;
}

/* LevelUp Text*/
.levelUp-brand-text {
  display: inline-flex;
  gap: 8px;
  color: var(--brand-white);
  text-decoration: none;
  font-weight: 900;
  font-size: 2rem !important;
}

/* LevelUp Arrow*/
.levelUp-brand-arrow {
  transform: translateY(5px);
  opacity: 0.9;
}

/*---------Log Out Button---------*/
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 30px;
  border-radius: var(--radius-pill);
  font-size: 1.1rem;
  font-weight: 800;
  border: 2px solid transparent;
  cursor: pointer;
  background: transparent;
  transition: all 0.2s ease;
}

.btn--outline {
  color: var(--brand-white);
  background-color: transparent;
  border: 2px solid var(--brand-white);
}

.btn--outline:hover {
  background: var(--brand-pink);
  color: var(--brand-white);
  border-color: var(--brand-pink);
}