/* Expense Details Container */
.MuiBox-root.expenses-display {
  max-width: 800px;
  overflow-y: scroll;
  max-height: calc(100% - 125px);
  /* Ensure it fills the height of its parent */
}

/* Current Expenses Header */
.MuiTypography-root.list-header {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--brand-red-dark);
  font-family: var(--font-base);
  font-weight: bold;
}


/* Expense List Box */
.MuiBox-root.expense-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Each Line Item Box */
.MuiBox-root.line-item-box {
  display: flex;
  align-items: center;
  padding: .5rem 0rem;
}

/* Each Line Item Box */
.MuiTypography-root.expense-category {
  color: var(--brand-black);
  font-weight: bold;
  font-family: var(--font-base);
  font-size: 20px;
  text-decoration: underline;
}


/* Each Line Item Box */
.MuiTypography-root.line-item-text {
  color: var(--brand-black);
  font-weight: bold;
  font-family: var(--font-base);
}

/*Expense List Buttons*/
.MuiButton-root.update-expense-btn,  .MuiButton-root.delete-expense-btn  {
  margin: .5rem;
  width: 100px;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  background-color: var(--brand-gray);
  color: white;
  font-family: var(--font-base);
  font-size: .75rem;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;
}