/*Outer Navigation Container*/
.MuiAppBar-root.expense-nav {
  position: sticky;
  top: 0;
  height: var(--header-h);
  background: var(--brand-red);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 50;
}

/* Inner Navigation Container*/
.MuiToolbar-root.expense-nav-inner {
  max-width: var(--maxw) !important;
  margin: 0;
  padding: 8px 16px !important;
  display: flex !important;
  grid-template-columns: 1fr auto 1fr !important;
  align-items: center !important;
}

/*---------Left: Logo + LevelUp + Arrow ---------*/

/* LevelUp Logo -> img does not accepty sx, css only*/
.levelUp-logo {
  height: 35px;
}

/* LevelUp Text*/
.levelUp-brand-text {
  display: inline-flex;
  gap: 8px;
  color: var(--brand-white);
  text-decoration: none;
  font-weight: 900;
  font-size: 2rem !important;
  font-family: var(--font-base) !important;
  font-weight: bold !important;
}

/* LevelUp Arrow*/
.levelUp-brand-arrow {
  transform: translateY(5px);
  opacity: 0.9;
}

/*---------Center: Expense + Budget + Dashboard---------*/

.MuiBox-root.expense-links {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.MuiButtonBase-root.expense-links {
  background-color: transparent !important;
}

.MuiButton-text.expense-links-text {
  padding: 60px;
  margin-top: 2;
  margin: 5;
  font-weight: bold;
  font-size: 18px;
  color: var(--brand-white);
  font-family: var(--font-base);
}

.MuiButton-text.expense-links-text:hover {
  text-decoration: underline;
  background-color: transparent !important;
}


/*---------Right: Log Out---------*/

.MuiBox-root.expense-logout {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  align-items: center;
}

.MuiButtonBase-root.logout.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  cursor: pointer;
  background: transparent;
  transition: all 0.2s ease;
}

.MuiButton-text.logout-btn {
  font-size: 1.1rem;
  font-weight: 800;
  color: var(--brand-white);
  padding: 5px 30px;
  font-family: var(--font-base);
}

.MuiButton-root.logout-btn-outline {
  color: var(--brand-white);
  background-color: transparent;
  border: 2px solid var(--brand-white);
  border-radius: var(--radius-pill);
}

.MuiButton-root.logout-btn-outline:hover {
  background: var(--brand-pink);
  color: var(--brand-white);
  border-color: var(--brand-pink);
}