/*Expense page backdrop (below nav bar) */
.MuiBox-root.expenses-page {
  margin-top: var(--header-h);
  padding: 0 1.5rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  inset: 0rem;
  background-image: url('../../assets/expenses.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/*"Expenses" Header */ 
.MuiTypography-root.expense-page-header {
  font-size: 2rem;
  color: var(--brand-black);
  text-align: left;
  font-family: var(--font-base);
  font-weight: bold;
  margin-top: 20px;
  padding: 0 1rem;
  z-index: 10; /* Ensure header stays on top */
}

/* Expense Split View - Holds Panes */
.MuiBox-root.split-view {
  display: flex; /* Flexbox aligns panes side by side */
  flex-direction: row; /* Left and right panels should be next to each other */
  height: calc(100vh - var(--header-h)); /* Full height minus the header height */
  overflow-y: hidden;  /* Prevent scrolling in the entire split-view container */
  padding: 1rem;
}

/* Universal Pane Styling + Specs */
.MuiBox-root.pane {
  position: relative; /* For positioning child elements inside the panes */
  padding: 1rem; 
  height: 100%;
}


/* Left Pane Styling + Specs - Allow scrolling */
.MuiBox-root.pane-left {
  overflow-y: hidden;  
  flex: 1;
}

/* Right Pane Styling + Specs - Prevent scrolling */
.MuiBox-root.pane-right {
  overflow: hidden;   
  flex: 1;
}