/* Universal Form css */
.MuiFormControl--root.expense-form {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* space between label and input */
  margin-bottom: 1rem;
}

/* Form Box css */
.MuiBox-root.expense-form-box {
  flex-direction: column;
  max-width: 800px;
  /* keeps layout from stretching too wide */
  padding: 0 1.5rem;
  /* adds breathing room around content */
  display: flex;
  flex-direction: column;

}

/* Add / Update Expense Header */
.MuiTypography-root.form-header {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--brand-red-dark);
  font-family: var(--font-base);
  font-weight: bold;
}

/* Form Labels */
.MuiTypography-root.field-labels {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: var(--brand-black);
  font-family: var(--font-base);
  font-weight: bold;
}

/*Form Fields */
.MuiTextField-root.input {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 3.5;
  /* space between label and input */
  margin-bottom: 2rem;
  font-family: var(--font-base);
}

/* Save / Cancel Buttons */
.MuiButtonBase-root.submit-btn,
.MuiButtonBase-root.cancel-btn {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  flex: 1;
  width: 100%;
  margin-top: 1rem;
  /* Adds vertical space before the button */
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 6px;
  background-color: var(--brand-gray);
  color: white;
  font-family: var(--font-base);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;
}


/* Form Labels */
.expense-form label {
  width: 200px;
  /* optional: keeps boxes from getting too wide */
  text-align: left;
  color: var(--brand-gray);
  font-family: var(--font-base);
  font-size: 1rem;
  font-weight: 600;
}

/* Form Fields */
.input {
  flex: 1;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-family: var(--font-base);
  font-size: 1rem;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.386);
  /* subtle shadow for depth */

}

/* Form Errors */
.error {
  color: #b00020;
  font-size: 0.95rem;
  margin: -0.5rem 0 0.75rem 0;
}