/* Overall container for the display section */
.expenses-display {
  max-width: 800px; /* keeps layout from stretching too wide */
  padding: 0 1.5rem; /* adds breathing room around content */
  overflow-y: scroll;
  max-height: calc(100% - 125px); /* Ensure it fills the height of its parent */
}

/* Add Expense header */
.expenses-display h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--brand-red-dark);
  font-family: var(--font-base);
}


/* Lays out cards in a list */
.expense-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Each individual expense "card" */
.expense-card {
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 12px; /* soft rounded edges */
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.386); /* subtle shadow for depth */
  font-family: var(--font-base);
}

/* Category title style */
h3.expense-category {
  margin: 0;
  font-size: 1.1rem;
  color: #000000;
  font-family: var(--font-base);
  padding: 0 1.5rem;
}

