/* Overall container for the display section */
.expense-form {
  max-width: 800px;
  /* keeps layout from stretching too wide */
  padding: 0 1.5rem;
  /* adds breathing room around content */
  display: flex;
  flex-direction: column;
}

/* Add Expense Header */
.expense-form h2 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: var(--brand-red-dark);
  font-family: var(--font-base);
  font-weight: bold;
}

/* Save / Update Buttons Container*/
.form-actions {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

/* Save / Update Buttons*/
.form-actions button {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 100%;
  /* Adds vertical space before the button */
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 6px;
  background-color: var(--brand-gray);
  color: white;
  font-family: var(--font-base);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;
}


/* Expense Form */
.expense-form .form-group {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* space between label and input */
  margin-bottom: 1rem;
}

/* Expense Form Labels */
.expense-form label {
  width: 150px;
  /* optional: keeps boxes from getting too wide */
  text-align: left;
  color: var(--brand-gray);
  font-family: var(--font-base);
  font-size: 1rem;
  font-weight: 600;
}

/*Expense Form Fields */
.expense-form input,
.expense-form textarea {
  flex: 1;
  padding: 0.5rem 0.75rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-family: var(--font-base);
  font-size: 1rem;
  box-sizing: border-box;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.386);
  /* subtle shadow for depth */

}

/* Expense Form Errors*/
.error {
  color: #b00020;
  font-size: 0.95rem;
  margin: -0.5rem 0 0.75rem 0;
}