.expenses-page  {
    margin-top: var(--header-h);
    padding: 0 1.5rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    inset: 0rem;
    background-image: url('./levelUpBD.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.expenses-page h1 {
  font-size: 2rem;
  color: var(--brand-red-dark);
  text-align: left;
  margin-top: 20px;  /* Space from the top */
  padding: 0 1.5rem;
  z-index: 10; /* Ensure header stays on top */
}

/* Expense split */
.split-view {
    display: flex;  /* Use flexbox to align the panes horizontally */
    flex-direction: row;  /* Align panes in a row (side by side) */
    height: calc(100vh - var(--header-h));  /* Full height minus the header height */
    overflow-y: hidden;  /* Allow vertical scroll if needed */
   padding: 1 rem;
}

.pane {
  position: relative;  /* For positioning child elements inside the panes */
  flex: 2;
  padding: 1rem;  /* Padding for content inside the pane */
  height: 100%;
}


/* Left Pane Styling - Allow scrolling */
.pane.left {
  overflow-y: auto; /* Allow vertical scrolling */
  height: 100%; /* Make sure it takes up full height */
  padding-right: 0.5rem; /* Optional, if you want some spacing */
}

/* Right Pane Styling - Prevent scrolling */
.pane.right {
  overflow: hidden; /* Prevent scrolling */
}
